---
---

<div class="relative overflow-hidden bg-white">
	<div class="relative max-w-[1296px] w-[90%] mx-auto pt-16 pb-8 tablet:pt-20">
		<div class="absolute bottom-2 left-2 pointer-events-none">
			<img
				src="./assets/beach-svgs/ship-1.svg"
				class="w-[120px] tablet:w-[180px] laptop:w-[240px]"
			/>
		</div>
		<div class="absolute bottom-0 right-4 pointer-events-none">
			<img
				src="./assets/beach-svgs/lighthouse-1.svg"
				class="w-[60px] tablet:w-[80px] laptop:w-[100px]"
			/>
		</div>
		<div class="flex flex-col justify-center items-center">
			<a
				href=""
				class="transition-transform duration-200 ease-in hover:scale-105"
			>
				<img
					src="./assets/llanbedrog-holidays-centre-blue.svg"
					alt="Llanbedrog Holidays Logo"
					width="168"
				/>
			</a>
			<p class="py-5 text-center text-body text-dark-blue">
				Benar Cottage, Some Road <br /> Llanbedrog, Gwynedd <br /> LL11 1AA <br
				/>
				<a
					href="#"
					class="relative hover:text-light-blue transition-colors after:absolute after:w-full after:scale-x-0 after:h-0.5 after:-bottom-0.5 after:left-0 after:bg-light-blue after:origin-bottom-right after:transition-transform after:duration-300 hover:after:scale-x-100 hover:after:origin-bottom-left"
					>benarcottage@email.co.uk</a
				>
			</p>
			<div class="flex gap-8">
				<a
					href=""
					class="transition-transform duration-200 ease-in hover:scale-110"
				>
					<img src="./assets/fb.svg" width="20" alt="Facebook icon" />
				</a>
				<a
					href=""
					class="transition-transform duration-200 ease-in hover:scale-110"
				>
					<img src="./assets/wa.svg" width="20" alt="WhatsApp icon" />
				</a>
			</div>
		</div>
	</div>
</div>
