---
---

<div class="relative bg-white">
	<div class="max-w-[1296px] w-[90%] mx-auto pt-16 pb-8 tablet:pt-20">
		<div class="flex flex-col justify-center items-center">
			<a href="">
				<img
					src="./assets/llanbedrog-holidays-centre-blue.svg"
					alt="Llanbedrog Holidays Logo"
					width="168"
				/>
			</a>
			<p class="py-5 text-center text-body">
				Benar Cottage, Some Road <br /> Llanbedrog, Gwynedd <br /> LL11 1AA <br
				/> cottage@email.co.uk
			</p>
			<div class="flex gap-8">
				<a href="">
					<img src="./assets/fb.svg" width="20" alt="Facebook icon" />
				</a>
				<a href="">
					<img src="./assets/wa.svg" width="20" alt="WhatsApp icon" />
				</a>
			</div>
		</div>
	</div>
</div>
