---
---

<div class="relative mx-auto w-full">
	<img
		src="./assets/photos/IMG_1.jpg"
		alt="Cottage"
		class="max-h-screen object-cover w-full aspect-[3/4] desktop:aspect-video"
	/>
	<div
		class="absolute top-0 left-0 h-full w-full bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-black/25 via-black/50 to-black/75"
	>
	</div>
	<h1
		class="absolute w-full px-6 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 text-center font-serif uppercase text-white text-hero-sm tablet:text-hero-md desktop:text-hero-lg xl:text-hero-xl"
	>
		Benar, <br /> Llanbedrog, Gwynedd
	</h1>
</div>
