---
---

<div id="property" class="bg-light-yellow overflow-hidden">
	<div
		class="relative max-w-[1296px] w-[90%] mx-auto py-16 tablet:py-20 desktop:py-36 laptop:flex laptop:gap-x-12 desktop:gap-x-16"
	>
		<div class="relative w-full">
			<h2
				class="relative text-h2-sm tablet:text-h2-md desktop:text-h2-lg xl:text-h2-xl text-dark-blue font-serif before:content-[url(./assets/beach-svgs/sea-waves.svg)] before:absolute before:-top-full before:right-full before:w-[5vw] before:h-[5vw] desktop:before:w-14 desktop:before:h-14"
			>
				The Property
			</h2>
			<p
				class="text-body desktop:text-body-lg text-dark-blue/90 font-sans max-w-xl pt-4 pb-8 tablet:pt-6 desktop:pt-8"
			>
				This delightful family-friendly cottage is the perfect base for your North Wales getaway, nestled in the heart of Llanbedrog village, you're just steps away from exploring the stunning Llyn Peninsula coastline.
				<br/>
				<br/>
				This charming retreat is just a short stroll from the beach and a 4-mile drive from the lively village of Abersoch, offering something for everyone.
				<br/>
				<br/>
				Book your stay today and create lasting memories in this idyllic coastal location.
			</p>
		</div>
		<div class="w-full my-auto">
			<div class="w-full">
				<img
					src="./assets/photos/LlanbedrogBeach.jpg"
					alt="beach"
					class="object-cover w-4/5 aspect-video"
				/>
				<span class="desktop:text-caption-lg text-caption-sm font-sans italic text-dark-blue/70"
					>Llanbedrog Beach</span
				>
			</div>
			<div class="flex justify-end w-full -mt-[15%]">
				<img
					src="./assets/photos/LlanbedrogTinman.jpg"
					alt="beach"
					class="object-cover w-4/6 aspect-video"
				/>
			</div>
		</div>
		<div class="absolute -left-[10%] -bottom-[5%] pointer-events-none">
			<img
				src="./assets/beach-svgs/seashell-1.svg"
				class="w-[180px] tablet:w-[240px] desktop:w-[300px]"
			/>
		</div>
	</div>
</div>
