---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:locale" content="en_GB" />
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.llanbedrogholidays.co.uk" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Llanbedrog Holidays" />
    <meta
      property="og:description"
      content="A stunning holiday cottage for rent in Llanbedrog."
    />
    <meta property="og:image" content="/photos/IMG_1.jpg" />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="llanbedrogholidays.co.uk" />
    <meta
      property="twitter:url"
      content="https://www.llanbedrogholidays.co.uk"
    />
    <meta name="twitter:title" content="Llanbedrog Holidays" />
    <meta
      name="twitter:description"
      content="A stunning holiday cottage for rent in Llanbedrog."
    />
    <meta name="twitter:image" content="/photos/IMG_1.jpg" />

    <title>{title}</title>
    <meta
      name="description"
      content="A stunning holiday cottage for rent in Llanbedrog."
    />
  </head>
  <body class="overflow-x-hidden">
    <slot />
  </body>
</html>
